<div class="chat p-4">
    <div class="encabezado-chat pb-4 mb-4">
        <h5>Miguel Martinez</h5>
        <small>Mensajes pendientes</small>
    </div>
    <div class="app-mensajes" id="app-mensajes">
        <div class="burbuja">
            <div class="yo">
                <div class="card" style="width: 3rem; height: 3rem; overflow: hidden; border-radius: 50%;">
                    <img src="./assets/img/1.jpg" class="card-img-top" alt="" style="width: 6rem; position: relative; left: -2.5rem;">
                </div>
                <div class="mensaje-datos">
                    <div class="mensaje">
                        <p>Este es un mensaje</p>
                    </div>
                    <div class="texto-bajo">
                        <small class="fecha">Enviado a las 11:05pm 16 de agosto 2018</small>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="burbuja">
            <div class="">
                <div class="card" style="width: 3rem; height: 3rem; overflow: hidden; border-radius: 50%;">
                    <img src="./assets/img/1.jpg" class="card-img-top" alt="" style="width: 6rem; position: relative; left: -2.5rem;">
                </div>
                <div class="mensaje-datos">
                    <div class="mensaje">
                        <p>Este es un mensaje</p>
                    </div>
                    <div class="texto-bajo">
                        <small class="fecha">Enviado a las 11:05pm 16 de agosto 2018</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>