.chat {
    width: 100% !important;
    height: 100%;
    overflow: hidden;
}

.encabezado-chat {
    border-bottom: 1px solid #343a40 !important;
    width: 100%;
}

.chat .apartado-chat {
    width: 100%;
    height: 70%;
}