<div class="app-mensajes" id="app-mensajes">

  <div class="burbuja" *ngFor="let mensaje of chats">
      <div [ngClass]="{ 'yo': _cs.usuario.uid == mensaje.uid }" class="yo">
          <div class="card" style="width: 3rem; height: 3rem; overflow: hidden; border-radius: 50%;">
              <img [src]="_cs.usuario.photoURL" title="{{ _cs.usuario.nombre }}" class="card-img-top" alt="" style="width: 3.5rem; position: relative; left: -.5rem;">
          </div>
          <div class="mensaje-datos">
              <div class="mensaje">
                  <p>{{ mensaje.mensaje }}</p>
              </div>
              <div class="texto-bajo">
                  <small class="fecha">{{ mensaje.fechabaja }}</small>
              </div>
          </div>
      </div>
  </div>

</div>

<div class="caja-chat">
    <div class="input-group">
        <input type="text" id="message" class="form-control" [(ngModel)]="mensaje" (keyup.enter)="enviar_mensaje()" placeholder="Enviar mensaje" />
        <div class="input-group-append">
            <button class="btn btn-warning">
                <span class="icon-checkmark"></span>
            </button>
        </div>
    </div>
</div>