<nav class="{{ ventana.estado }}">
    <div class="ventana-menu" (click)="cambiarEstado()"><span class="icon-menu2"></span></div>
    <div class="usuario">
        <div class="card" style="width: 5rem; height: 5rem; overflow: hidden; border-radius: 50%;">
          <img src="./assets/img/1.jpg" class="card-img-top" alt="" style="width: 9rem; position: relative; left: -2.5rem;">
        </div>
    </div>
    
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center seleccionado" title="Mensajes">
        <div>
          <span class="icon-bubbles3"></span>Mensajes
        </div>
        <span class="badge badge-primary badge-pill">14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center" title="Contactos">
        <div>
          <span class="icon-users"></span>Contactos
        </div>
        <span class="badge badge-primary badge-pill">2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center" title="Contactos">
        <div>
          <span class="icon-exit btn-outline-danger" (click)="_cs.logout()"></span>Salir
        </div>
        <!-- <span class="badge badge-primary badge-pill">2</span> -->
      </li>
    </ul>
</nav>